<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="75" alt="Gob Store Logo" src="../assets/images/logo.png" />
  <span>Gob Store</span>
  <div class="small-spacer"></div>
  <a aria-label="Home link" rel="noopener" routerLink="/home" routerLinkActive="active" title="Home">
    Home
  </a>
  <div class="small-spacer"></div>
  <a aria-label="Product list link" rel="noopener" routerLink="/product" title="List Products">
    Product
  </a>
  <div class="small-spacer"></div>
  <a aria-label="Create a new product link" rel="noopener" routerLink="/product/create" title="Create new product">
    Add Product
  </a>
  <div class="spacer"></div>
  <a aria-label="Login link opens new window" rel="noopener" routerLink="/login" title="Login">
    Login
  </a>
  <div class="small-spacer"></div>
  <a aria-label="Logout link" rel="noopener" routerLink="/login" title="Logout">
    Logout
  </a>
  <div class="small-spacer"></div>
</div>

<div class="content" role="main">

  <!-- Main -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
    <a routerLink="/home" routerLinkActive="active" rel="noopener">
      Home
    </a>
    <div class="small-spacer"></div>
    <a href="#" target="_blank" rel="noopener">
      Privacy Policy
    </a>
  </footer>
</div>